<!doctype html>
<html>
<head>
  <meta charSet="utf-8" />
  <link rel="icon" type="image/x-icon" href="<%= context.config.publicPath %>favicon.png" />

  <title>hhhhh</title>
</head>
<body>
  <div id="root"></div>
  <script src="<%= context.config.publicPath %>tinymce/js/tinymce/tinymce.min.js"></script>
  <script src="<%= context.config.publicPath %>utf8-jsp/ueditor.config.js"></script>
  <script src="<%= context.config.publicPath %>utf8-jsp/ueditor.all.js"></script>
  <script src="<%= context.config.publicPath %>utf8-jsp/lang/zh-cn/zh-cn.js"></script>
  <script src="<%= context.config.publicPath %>utf8-jsp/ueditor.parse.min.js"></script>

</body>
</html>